
table 
{
	text-align: left;
	border-spacing: 0px;
	border: 3px solid #aeb3b6;
	border-collapse: collapse;
	
}


table a, table, tbody, tfoot, tr, th, td 
{
   font-family: Arial, Helvetica, sans-serif;
	line-height: 2.0em;
	font-size: 13px;
	color: #000000;
	text-align: center;
}
tbody td{
	line-height: 2.5em;
}

table caption
{
	padding: .4em 0 ;
	font-size: 240%;
	font-style: normal;
	color: #FFFFFF;
}

table a
{
	display: block;
	text-decoration: none;
	color: #FF8E53;
	padding-right: 1.5em;
	
}

table a:hover, table a:focus
{
text-decoration: underline;
}

table th a
{
	color: #FF8E53;
	text-align: right;
}
table .odd th a,table .odd td a,table .odd td{
	color: #666;
	padding-right: 1.0 em;
}

table th a:hover, table th a:focus, tbody tr:hover th
{   
   background-color: #FFCC99;
	color: #fff !important;
}
table .odd th,table .odd td{
	background-color: #DDDDDD;
}

thead th
{
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 1px;
	color: #fff;
	
}
tfoot{
	border-top: 3px solid #fff;
	
	
}
tfoot th,tfoot td{
	color: #fff;
}

tbody th
{
   padding-right: 1.0em;
	color: #25c1e2;
	font-style: normal;
	background-color: #fff;
	border-bottom: 3px solid #aeb3b6;
}

td
{
   color: #000000;
	border-bottom: 3px solid #aeb3b6;
	text-align:center;
	
}

tbody tr.odd
{
	border-bottom: 3px solid #aeb3b6;
}

tbody tr:hover td
{
  background-color: gray;
}

tbody tr:hover td,tbody tr:hover th, tbody tr:hover a
{
	color: #fff !important;
}/*

table.imagetable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}
table.imagetable th {
	background:#b5cfd2 url('cell-blue.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
table.imagetable td {
	background:#dcddc0 url('cell-grey.jpg');
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #999999;
}
*/
