#site-name2{
	display:inline-block; width:500px;
	font-family:'Bitter', serif;
	font-size:30px;
	margin:0;
}

#titulo-nombre{
	margin:30px 0px 30px 0px;
	
}
#nombreConcurso{
	width:55%;
	font-size:30px;
}

#organizador{
width: 40%;
margin: 20px;
}

#hashtag{
margin: 15px;
width: 70%;
height: 70px;
display:block;
}
#fechaInicial{
float: left;
margin: 10px 0px 0px 20px;
width: 30%;
height: 100px;
}
#fechaFin{
float: left;
margin: 10px;
width: 30%;
height: 100px;	
}
#hashtagTwitter{
font-size: 30px;
font-weight: bold; 
float:left;
display:inline;
}

#radiosWrapper{
	margin: 20px;
	float:left;
}
#imgAroba{
display: inline;
float: left;
}
#aroba{
margin: 30px;
float: left;
}
#categoriaWrapper{
float:left;
margin:20px;
width: 250px;
}

input[type=text]{
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.titulos{
font-size:15px;
font-weight:bolder;

}
.labError{
color:red;
font-weight:bold;
}

.botonSubmit{
	
	float:right;
}
