@charset "utf-8";

body {	font-family:Verdana, Geneva, sans-serif; margin:0; background:url(../images/template/background.png);}

/* CONTENIDO */
#container {
	width:900px;
	margin:-21px auto 10px auto;
	padding:10px;
	}
	
#site-name {display:inline-block; width:238px;} 
#site-name {
	font-family:'Bitter', serif;
	font-size:30px;
	}			
#site-name h1{margin:0;}
			
.image{text-align:center; }



#menu-r {
	font-size:12px;
	display:inline-block; 
	vertical-align:top;
	margin:24px 0 0 150px;
	float:right;

}
	
#menu-r li{
	list-style:none;
	display:inline-block;
	background:#CCC;
	padding:7px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	}
#menu-r a{
	text-decoration:none;
	font-weight:bold;
	color:#FFF;
	}

#menu-r a:active{
	color:#000;
	}
#menu-r .seleccionado{
	text-decoration:underline;
	color:#FFF;
}	
.cont{text-align:right; height:60px;}

.boton1 { background:url(../images/template/boton_enviar.png) no-repeat top right;
		  margin:10px 0px 0 10px;
		  display:block;
          width:116px;
          height:52px}
.boton1:hover {background-position:top center }
.boton1:active {background-position:top center;}
.boton1 span{display:none;}


.articulo { font-family: Verdana, Helvetica, Arial; }
	
	
.seccion {
	padding:10px;
	border: 3px solid #333;
	border-right-color:#CCC;
	border-bottom-color:#CCC;
	font-size:12px;
	color:#FFF;
	background:url(../images/template/bg_contenido.png);
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
		}
.sombra_seccion{
	background:url(../images/template/sombra_modulo.png) no-repeat center top;
	width:900px;
	height:23px;
	margin-bottom:15px;
	}
.articulo a{color:#790000;}	

.spec { font-weight: bold; display: inline; }


.spec_content { display:inline-block; }



.features {
	display:inline-block;
	float:right;
	margin:10px;
	}


.ver_mas {
	display: inline-block; 
	float: right;
	}


.entrada {
	display: inline-block;
	float: left;
}


.concurso {
	font-weight: bold;
	font-size: 2em;
	float:left;
	display:inline-block;
	}

.titulos{
text-align: left;
font-size: 20px;
color:#FFFFFF;
}



/***/

#paginacion a{
	font-family: 'Capriola', sans-serif;
	display:inline-block; 
	background:#CCC; 
	padding:10px;
	text-decoration:none;
	color:#000;
	border:1px solid #666;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	}

#paginacion a:hover{
	background:#4D4D4D;
	color:#FFF;
	}
#paginacion a:active{
	background:#000;
	}
#anterior {float:left;}
#siguiente {float:right;}

/*Tipo Vistas */

#letras {
	font-size:12px; color:#fff;
	display:inline-block; 
	margin:-40px 0 0 -30px;
	float:right;
}
#letras li{
	list-style:none;
	display:inline-block;
	padding:3px;
}

.topic{
font-weight: bold;
 margin:0px 0px 0px 10px;
 display:block;
	
}


header{
margin-bottom:  10px;	
}

#enviarEntrada{
display:inline-block;
background:#CCC; 
padding:10px; 
text-decoration:none;
border: 5px inset black;
}	

a#enviarEntrada:hover{
	background:green;
}
a#enviarEntrada:visited:hover{ 
background:yellowgreen;
}	

.datos-articulo{
width:70%;
font-size: 10px;
margin-top: 30px;
float:right;	
}

#TituloConcurso{
font-size: 30px;
font-weight: bold; 	
}
#hashtagTwitter{
float:right;
font-size: 30px;
font-weight: bold; 
}
.articulo {
	float:right;
	
}

#enviarEntrada{
display:inline-block;
background:#CCC; 
padding:10px; 
text-decoration:none;
border: 5px inset black;
}

.seccion-g{
	height: 120px;
	border: 1px solid #333;
	padding-top: 0;
	margin-top:0;
	margin-bottom:20px;
	padding: 10px;	
	}
	
.comentarioEntrada{
	width: 80%;
	margin: 0px;
	text-align: justify;
	padding:10px;
	text-align: left;
	float:left;
	}	

.imageDeAroba{
width:80px;
height:80px;
float:left;	
margin: 10px;
}

.aroba{
display: inline;
font-weight: bold;
padding-left: 10px;	
}
.tituloEnvio{
display: inline;
font-weight: bold;
}
.fechaEnvio {float:right;display:inline}

#titleGanador{font-weight: bold;display: inline;}

#titleEntrada{font-weight: bold;display: inline;}


/* RADIO */

.regular-radio {
	display: none;
}

.regular-radio + label {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 50px;
	display: inline-block;
	position: relative;
}

.regular-radio:checked + label:after {
	content: ' ';
	width: 12px;
	height: 12px;
	border-radius: 50px;
	position: absolute;
	top: 3px;
	background: #99a1a7;
	box-shadow: inset 0px 0px 10px rgba(0,0,0,0.3);
	text-shadow: 0px;
	left: 3px;
	font-size: 32px;
}

.regular-radio:checked + label {
	background-color: #e9ecee;
	color: #99a1a7;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

.regular-radio + label:active, .regular-radio:checked + label:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}


/****** Admnistraci�n de concursos ******/

fieldset input[type="text"] {
    background-color: #ececec;
    border: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: #454545;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid transparent;
    border-radius: 5px; 
	}

#hashtag { 
	float:left; 
	font-weight: bold;
	font-size: 2em;
	}
	
#pCont { white-space: pre-wrap; }

.button {
	font-family: 'Capriola', sans-serif; 
	font-weight:500; 
	font-size:1.5em; 
	float:left; 
	height:35px;
	}
	
#bCancelDec { display: none; }

#bEditar{ float: right; }

.div_mensaje{
	clear:both;
	background-color: #D5D7C6;
	color: #1739AB;
	font-weight: bold;
	font-size: 1.7em;
	text-align: center;
	border-style: solid;
	margin-top: 20px;
	padding-bottom: 20px;
	border-radius:7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	display: none;
}

#mensaje_rechazado { color: red; }
 
.div_comments{
	display: none;
}

textarea {resize:none;}

.msg { margin-bottom: 5px; }

#error_comment { background-color: #FFFF99; color: red; font-size: 1em; padding-bottom:0px;}

.spec_envia { font-size: 1.5em; font-weight: bold; display: inline; }

.remitente { font-size: 1.5em; display:inline-block; }

div.clear{ clear: both;}

#div_edit { 
	display:none; 
	margin-top: 30px;
	}

legend strong{ font-weight: bold; font-size: 1.5em;}

form label { font-weight: bold; font-size: 1.25em; }
	
#concurso_name,#pHash, #pCat, #pDif, #pFinic, #pFfin, #pEnvia{display:inline;}


.div_error{
	background-color: #FFFF99;
	color: red;
	font-weight: bold;
	font-size: 1em;
	border-style: solid;
	margin-top: 20px;
	padding-left: 10px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	display: none;
}

#div_ganador { display:none; }


#div_eval { display: none; }

#done-icon { display: inline-block; float: right; margin-right: 45%; margin-top: -30px; }


/***Scroll***/
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(205,205,205); 
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: rgb(56,56,56);
    -webkit-box-shadow: inset 0 0 6px rgb(205,205,205); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(56,56,56);
}


/*BOTON AZUl*/
.botonG{
background-color:#599bb3;
border:1px solid #85c2de;
padding:9px;
-webkit-border-radius:7px;
-moz-border-radius:7px;
font-size:15px;
font-weight:bold;
color: #333;
}


.botonG:hover {
background-color:#199bb3;
}


.botonG:active {
position:relative;
top:1px;
}

button, a.button {
border: 1px solid rgba(0,0,0,0.3);
background: #eee;
color: #515151;
display: inline-block;
font-size: 14px;
position: relative;
text-decoration: none;
background: -webkit-gradient(linear, left bottom, left top, color-stop(0.21, rgb(203,203,203)), color-stop(0.58, rgb(227,226,226)));
background: -moz-linear-gradient(center bottom, rgb(203,203,203) 21%, rgb(227,226,226) 58%);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 0 0 5px rgba(255,255,255,0.3) /* glass edge */, inset 0 1px 0 0 rgba(255,255,255,0.5) /* top highlight */, inset 0 -3px 0 0 rgba(0,0,0,0.5) /* bottom shadow */;
-webkit-box-shadow: 0 0 0 5px rgba(255,255,255,0.3), inset 0 1px 0 0 rgba(255,255,255,0.5), inset 0 -3px 0 0 rgba(0,0,0,0.5);
box-shadow: 0 0 0 5px rgba(255,255,255,0.3), inset 0 1px 0 0 rgba(255,255,255,0.5), inset 0 -3px 0 0 rgba(0,0,0,0.5);
text-shadow: 0 1px rgba(255,255,255,0.6);
}
button::-moz-focus-inner, a.button::-moz-focus-inner {
padding:0;
border:0;
}
button:hover, a.button:hover {
background: #cbcbcb;
cursor: pointer;
}
button:active, a.button:active {
background: #ccc;
-moz-box-shadow: 0 0 0 5px rgba(255,255,255,0.3), inset 0 -1px 0 0 rgba(255,255,255,0.5), inset 0 2px 5px 0 rgba(0,0,0,0.2);
-webkit-box-shadow: 0 0 0 5px rgba(255,255,255,0.3), inset 0 -1px 0 0 rgba(255,255,255,0.5), inset 0 2px 5px 0 rgba(0,0,0,0.2);
box-shadow: 0 0 0 5px rgba(255,255,255,0.3), inset 0 -1px 0 0 rgba(255,255,255,0.5), inset 0 2px 5px 0 rgba(0,0,0,0.2);
text-shadow: none;
}
button[disabled] {
background: #ddd;
color: #ccc;
cursor: default;
-moz-box-shadow: 0 0 0 5px rgba(255,255,255,0.2), inset 0 -1px 0 0 rgba(0,0,0,0.5);
-webkit-box-shadow: 0 0 0 5px rgba(255,255,255,0.2), inset 0 -1px 0 0 rgba(0,0,0,0.5);
box-shadow: 0 0 0 5px rgba(255,255,255,0.2), inset 0 -1px 0 0 rgba(0,0,0,0.5);
text-shadow: none;
}
button[disabled]:active {
background: #ddd;
color: #ccc;
}




	div.pagination {
		padding: 3px;
		margin: 3px;
		text-align:center;
		color:#a0a0a0;
		font-size:80%;
	}
	div.pagination a {
		border: 1px solid #909090;
		margin-right:3px;
		padding:2px 5px;
		background-image:url('../images/bar.gif');
		background-position:bottom;
		text-decoration: none;
		color: #c0c0c0;
	}
	div.pagination a:hover, div.meneame a:active {
		border: 1px solid #f0f0f0;
		background-image:url('../images/invbar.gif');
		background-color:#404040;
		color: #ffffff;
	}
	div.pagination span.current {
		margin-right:3px;
		padding:2px 5px;
		border: 1px solid #ffffff;
		font-weight: bold;
		background-color: #606060;
		color: #ffffff;
	}
	div.pagination span.disabled {
		margin-right:3px;
		padding:2px 5px;
		border: 1px solid #606060;
		color: #808080;
	}
	


/*Alertas con jquery purr*/

#purr-container {
			position: fixed;
			top: 0;
			right: 0;
		}
		
		.notice {
			position: relative;
			width: 324px;
		}
			.notice .close	{position: absolute; top: 12px; right: 12px; display: block; width: 18px; height: 17px; text-indent: -9999px; background: url(images/purr/purrClose.png) no-repeat 0 10px;}
		
		.notice-body {
			min-height: 50px;
			padding: 22px 22px 0 22px;
			background: url(images/purr/purrTop.png) no-repeat left top;
			color: #f9f9f9;
		}
			.notice-body img	{width: 50px; margin: 0 10px 0 0; float: left;}
			.notice-body h3	{margin: 0; font-size: 1.1em;}
			.notice-body p		{margin: 5px 0 0 60px; font-size: 0.8em; line-height: 1.4em;}
		
		.notice-bottom {
			height: 22px;
			background: url(images/purr/purrBottom.png) no-repeat left top;
		}
	</style>